html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
* {
	margin: 0;
}
*,
::after,
::before {
	box-sizing: inherit;
}

body {
	max-width: 1248px;
	margin: 0 auto;
	font-family: "Lato", sans-serif;
	background: #f5f5f7;
}
/* ---HEADER--- */
.header {
	background: url("https://i.postimg.cc/nzRkGNpb/bg-image-2.jpg") no-repeat center;
	width: 100%;
	height: 720px;
	position: relative;
	margin-bottom: 20px;
	border-radius: 0 0 10px 10px;
}
.box--img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box__title {
	color: #fff;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
	font-size: 20px;
}
.box__circle {
	border-radius: 80px;
	border: 5px solid #3799bf;
	width: 160px;
	height: 160px;
	margin: 30px 0;
}
.box__rr-image {
	width: 100%;
}

.navigation__list {
	display: flex;
	justify-content: end;
	color: #fff;
	gap: 40px;
	list-style: none;
	padding: 50px 100px 0 0;
	text-transform: uppercase;
}
.header__shine {
	position: absolute;
	padding: 50px 0 50px 50px;
	text-transform: uppercase;
	color: #e6e8ec;
	font-size: 30px;
}

.header__special {
	color: #3799bf;
}
.navigation__item {
	color: #fff;
	font-size: 30px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	transition: all 0.2s ease-in-out;
}
/* ---LI NAVIGATION EFFECT--- */
a.navigation__item:hover {
	transform: scale(1.05);
	color: #3799bf;
}
a.navigation__item:after {
	content: "";
	position: absolute;
	height: 1.1em;
	left: 0;
	width: 100%;
	border-bottom: 1px solid;
	opacity: 0;
	margin-top: 10px;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(0, 01);
}
/* ---H1 RR ACTION EFFECT--- */
a.navigation__item:hover:after {
	opacity: 1;
	transform: scale(1);
}
.header__shine {
	mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
	mask-size: 190%;
	animation: shine 3s infinite;
}
@keyframes shine {
	from {
		mask-position: 150%;
	}

	to {
		mask-position: -50%;
	}
}
/* ---PULSE BUTTON EFFECT--- */
.box__button {
	animation: pulse-white 1.75s infinite;
	background: transparent;
	border: none;
	color: #fff;
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.9);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}
/* ---ABOUT ME--- */
.article--me,
.table-section,
.footer {
	padding: 50px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
	padding: 0 100px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.article__header {
	font-size: 48px;
	font-weight: 600;
	align-self: center;
	text-transform: uppercase;
	margin: 50px 0;
}
.main {
	background-color: #f5f5f7;
}

.article--me,
.table-section,
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.footer {
	background-color: #3799bf;
	padding: 50px;
	margin-bottom: 0;
	border-radius: 10px 10px 0 0;
}
.footer_paragraph {
	color: #fff;
	font-size: 21px;
}
.article__paragraph {
	text-align: left;
	margin-left: 50px;
	width: 100%;
	font-size: 21px;
	color: #1d1d1f;
}

.article__svg {
	width: 70px;
	filter: invert(51%) sepia(44%) saturate(639%) hue-rotate(151deg) brightness(95%) contrast(90%);
}

.article__icon-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

/* ---TABLE SECTION--- */

.table {
	font-family: "Lato", sans-serif;
	font-size: 21px;
	border-collapse: collapse;
	width: 100%;
}
.table__cell {
	border: thin solid #ccc;
	padding: 50px;
	text-align: center;
}
.table__cell--header-color {
	background-color: #f5f5f7;
}
.table__cell--effect {
	transition: all 0.3s ease-in;
}
.table__cell--effect:hover {
	background-color: #ddd;
	transition: all 0.2s ease-in;
}
.table-section__container {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
	overflow-x: auto;
}

@media screen and (max-width: 1150px) {
	.navigation ul {
		flex-direction: column;
		align-items: center;
		padding: 140px 0 0 0;
	}
	.box--img {
		top: 78%;
	}
}

@media screen and (max-width: 900px) {
	.article--me,
	.table-section,
	.footer {
		padding: 0 20px;
	}
	.table__cell {
		padding: 30px;
	}
}
@media screen and (max-width: 600px) {
	.article__icon-box {
		flex-direction: column;
	}
	.article__svg {
		margin-bottom: 20px;
	}
	.article__paragraph {
		margin: 0 50px;
	}
	.table__cell {
		padding: 10px;
	}
}
@media screen and (max-width: 400px) {
	.table__cell {
		padding: 0px;
	}
}
.js-dark {
	background-color: #0e141a;
	color: #bbbbbb;
}
.js-light-dark {
	background-color: #1c1b21;
	color: #bbbbbb;
}
.js-light-dark p {
	background-color: #1c1b21;
	color: #bbbbbb;
}

.js-main-theme {
	background-color: #5397bb;
}

.js-visible {
	display: none;
}
